.main_screen {
	padding-top: 151px;
	padding-bottom: 0;
	margin-top: -120px;
	@include devices(lg) {
		padding-top: 180px;
	}
}

.main_screen_content {
	@include devices(lg) {
		display: flex;
		.main_screen__cover {
			padding-top: 164px;
		}
	}
	h3 {
		color: #fff;
		letter-spacing: 0.06em;
		@include devices(md) {
			font-size: 44px;
			line-height: 57px;
			letter-spacing: normal;
		}
	}
	h3,
	.descriptions {
		text-align: center;
		@include devices(md) {
			text-align-last: left;
		}
	}
	.descriptions {
		padding: 42px 0;
		line-height: 24px;
		color: #cdcdcd;
		@include devices(lg) {
			padding: 41px 0 42px;
		}
	}
	.btn {
		margin: 0 auto;
		@include devices(lg) {
			margin: 0;
		}
	}
	.img_container {
		margin-top: 105px;
		padding-left: 40px;
		@include devices(md) {
			margin-top: 100px;
			padding-left: 140px;
		}
		@include devices(lg) {
			margin: 0;
			padding-left: 42px;
		}
	}
	.main_screen__cover {
		@include devices(md) {
			max-width: 460px;
			margin: 0 auto;
		}
		@include devices(lg) {
			margin: 0;
		}
	}
}
