@mixin font-face ($ff, $path, $fw, $fs: normal) {
	@font-face {
		font-family: $ff;
		src: url('../fonts/#{$path}.woff2') format("woff2");
		font: {
			weight: $fw;
			style: $fs;
			display: swap;
		}     
	}
}
// mobile first
@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == lg {    
    	@media only screen and (min-width: 1280px) {
      		@content;
    	}
    }
 
  	@if $breakpoint == md {
    	@media only screen and (min-width: 768px) {
      		@content;
    	}
  	}

	@if $breakpoint == sm {
    	@media only screen and (min-width: 375px) {
      		@content;
    	}
  	}

	  @if $breakpoint == xs {
    	@media only screen and (max-width: 375px) {
      		@content;
    	}
  	}

}