* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

// responsive image Netflix way
.responsive {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%; // 16:9
	height: 0;
	&.square {
		padding-bottom: 100%;
	}
	img,
	video,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
	}
}
// section

@import "variables";
@import "vendors";
@import "mixins";
@import "fonts";
@import "typography";
@import "elements";
@import "header";
@import "main_screen";
@import "about";
@import "our_friends";
@import "help";
@import "donation";
@import "footer";
@import "modals";

.container {
	max-width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	@include devices(md) {
		max-width: 768px;
		padding: 0 30px;
	}
	@include devices(lg) {
		max-width: 1280px;
		padding: 0 40px;
	}
}

section {
	padding: 45px 0;
	@include devices(md) {
		padding: 80px 0 100px;
	}
	&.gray {
		background-color: #f6f6f6;
	}
}

.gradient {
	background: url("../img/header_lines.png"),
		radial-gradient(farthest-corner at 40px 40px, #5b483a 0%, #262425 100%),
		#211f20;
}

// * {
//   box-sizing: border-box;
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100%;
//   overflow: hidden;
// }

// .row {
//   display: flex;
//   margin: 0 -15px;
// }
